@charset "UTF-8";

header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: white;
    background-color: rgb(200, 100, 7);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.374) 0px 4px 5px 1px;
}
.square{
    margin: 10px;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(84, 84, 84, 0.453) 0px 4px 5px 1px;
}
#container img{
    width: 300px;
}

.slider{
    width: 400px;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;  
    display: flex;
    justify-content: center;
    align-items: row;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.342) 2px 3px 5px 1px;
}
.slider img{
    width:  400px  !important;
}
#radio-container{
    width: 400px;
    height: 10px;
    position: absolute;
    bottom: -140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-radio{
    background-color: bisque;
    display: none;
}
.label-container{
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label-radio{
    height: 8px;
    width: 8px;
    margin: 0px 5px;
    border-radius: 100%;
    background-color: white;
}

/*rolagem do slider*/

