@charset "UTF-8";

header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: white;
    background-color: rgb(200, 100, 7);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.374) 0px 4px 5px 1px;
}
.square{
    margin: 10px;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(84, 84, 84, 0.453) 0px 4px 5px 1px;
}
#container img{
    width: 300px;
}

/*SLIDER*/
.slider{
    width: 400px;
    height: 200px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 10px;
}
.img-cont{
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: 1s;
}
.slider img{
    width: 400px !important;
}
.slider input{
    display: none;
}

.label-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 10px;
    position: absolute;
    bottom: -140px;
}
.label-radio{
    height: 8px;
    width: 8px;
    border: 2px solid white;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
}
.label-radio:not(:last-child){
    margin-right: 8px;
}
.label-radio:hover{
    background-color: white;
}

#first:checked ~ .label-cont .label-radio-1{
    background-color: white;
}
#second:checked ~ .label-cont .label-radio-2{
    background-color: white;
}
#terceiro:checked ~ .label-cont .label-radio-3{
    background-color: white;
}

#first:checked ~ .img-cont{
    margin-left: 0px;
}
#second:checked ~ .img-cont{
    margin-left: -400px;
}
#terceiro:checked ~ .img-cont{
    margin-left: -800px;
}